Repository kubukoz/smithy-playground: changes, and which Mergify rules are due for each by the changed paths.
All: Label ast PRs, Label core PRs, Label e2e PRs, Label examples PRs, Label formatter PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs, Label parser PRs, Label plugin-core PRs, Label plugin-sample PRs, Label protocol4s PRs, Label source PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Test (ubuntu-22.04, 3, temurin@11)
  actions:
    merge: {}
- name: Label ast PRs
  conditions:
  - files~=^modules/ast/
  actions:
    label:
      add:
      - ast
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label e2e PRs
  conditions:
  - files~=^modules/e2e/
  actions:
    label:
      add:
      - e2e
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^modules/examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label formatter PRs
  conditions:
  - files~=^modules/formatter/
  actions:
    label:
      add:
      - formatter
      remove: []
- name: Label language-support PRs
  conditions:
  - files~=^modules/language-support/
  actions:
    label:
      add:
      - language-support
      remove: []
- name: Label lsp PRs
  conditions:
  - files~=^modules/lsp/
  actions:
    label:
      add:
      - lsp
      remove: []
- name: Label lsp-kernel PRs
  conditions:
  - files~=^modules/lsp-kernel/
  actions:
    label:
      add:
      - lsp-kernel
      remove: []
- name: Label parser PRs
  conditions:
  - files~=^modules/parser/
  actions:
    label:
      add:
      - parser
      remove: []
- name: Label plugin-core PRs
  conditions:
  - files~=^modules/plugin-core/
  actions:
    label:
      add:
      - plugin-core
      remove: []
- name: Label plugin-sample PRs
  conditions:
  - files~=^modules/plugin-sample/
  actions:
    label:
      add:
      - plugin-sample
      remove: []
- name: Label protocol4s PRs
  conditions:
  - files~=^modules/protocol4s/
  actions:
    label:
      add:
      - protocol4s
      remove: []
- name: Label source PRs
  conditions:
  - files~=^modules/source/
  actions:
    label:
      add:
      - source
      remove: []

merge publish into the build job
  .github/workflows/ci.yml
  build.sbt
Due: none

use coursier interface (with shaded deps)
  build.sbt
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
Due: Label lsp-kernel PRs

use coursier interface (with shaded deps) (#594)
  build.sbt
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
Due: Label lsp-kernel PRs

Dependency updates 2025.08
  build.sbt
  project/plugins.sbt
Due: none

Dependency updates 2025.08 (#595)
  build.sbt
  project/plugins.sbt
Due: none

better publish
  .github/workflows/ci.yml
  build.sbt
Due: none

restore tests
  .github/workflows/ci.yml
  build.sbt
Due: none

fix ci
  .github/workflows/ci.yml
  build.sbt
Due: none

maybe fix mima
  build.sbt
Due: none

Better error reporting + fall back to no plugins
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/PluginResolver.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
Due: Label lsp-kernel PRs

fix mima for one last module
  build.sbt
Due: none

Better error reporting + fall back to no plugins (#596)
  build.sbt
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/PluginResolver.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
Due: Label lsp-kernel PRs

wip: gotodef
  modules/language-support/src/main/scala/playground/language/Uri.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
Due: Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs

WIP: go to definition for operations
  modules/lsp-kernel/src/main/scala/playground/lsp/DefinitionProvider.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
  modules/protocol4s/src/main/smithy/std.smithy
Due: Label lsp PRs, Label lsp-kernel PRs, Label protocol4s PRs

FIX MIMA
  build.sbt
Due: none

refactor
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
Due: Label lsp-kernel PRs

unused code
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
Due: Label lsp PRs

more refactors
  modules/language-support/src/main/scala/playground/language/DefinitionProvider.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/source/src/main/scala/playground/smithyql/WithSource.scala
Due: Label language-support PRs, Label lsp-kernel PRs, Label source PRs

Remove DSI dependency in DefinitionProvider
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/main/scala/playground/Uri.scala
  modules/core/src/test/scala/playground/MultiServiceResolverTests.scala
  modules/core/src/test/scala/playground/PreludeCompilerTests.scala
  modules/language-support/src/main/scala/playground/language/CodeLensProvider.scala
  modules/language-support/src/main/scala/playground/language/CommandProvider.scala
  modules/language-support/src/main/scala/playground/language/DefinitionProvider.scala
  modules/language-support/src/main/scala/playground/language/FormattingProvider.scala
  modules/language-support/src/main/scala/playground/language/TextDocumentProvider.scala
  modules/language-support/src/test/scala/playground/language/CodeLensProviderTests.scala
  modules/language-support/src/test/scala/playground/language/FormattingProviderTests.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/RunFileParams.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/TextDocumentManager.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
Due: Label core PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs

snarky comment
  modules/language-support/src/main/scala/playground/language/DefinitionProvider.scala
Due: Label language-support PRs

Add tests for goto def
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/test/scala/playground/TestTextUtils.scala
  modules/core/src/test/scala/playground/smithyql/AtPositionTests.scala
  modules/language-support/src/test/scala/playground/language/DefinitionProviderTests.scala
Due: Label core PRs, Label language-support PRs

"Go to definition" for operations/services (#597)
  build.sbt
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/main/scala/playground/Uri.scala
  modules/core/src/test/scala/playground/MultiServiceResolverTests.scala
  modules/core/src/test/scala/playground/PreludeCompilerTests.scala
  modules/core/src/test/scala/playground/TestTextUtils.scala
  modules/core/src/test/scala/playground/smithyql/AtPositionTests.scala
  modules/language-support/src/main/scala/playground/language/CodeLensProvider.scala
  modules/language-support/src/main/scala/playground/language/CommandProvider.scala
  modules/language-support/src/main/scala/playground/language/DefinitionProvider.scala
  modules/language-support/src/main/scala/playground/language/FormattingProvider.scala
  modules/language-support/src/main/scala/playground/language/TextDocumentProvider.scala
  modules/language-support/src/test/scala/playground/language/CodeLensProviderTests.scala
  modules/language-support/src/test/scala/playground/language/DefinitionProviderTests.scala
  modules/language-support/src/test/scala/playground/language/FormattingProviderTests.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/RunFileParams.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/TextDocumentManager.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
  modules/protocol4s/src/main/smithy/std.smithy
  modules/source/src/main/scala/playground/smithyql/WithSource.scala
Due: Label core PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs, Label protocol4s PRs, Label source PRs

Import signing keys before tests
  .github/workflows/ci.yml
  build.sbt
Due: none

ServiceIndex created just once
  modules/core/src/main/scala/playground/OperationCompiler.scala
  modules/core/src/test/scala/playground/smithyql/CompilationTests.scala
  modules/language-support/src/main/scala/playground/language/CompletionProvider.scala
  modules/language-support/src/test/scala/playground/language/CodeLensProviderTests.scala
  modules/language-support/src/test/scala/playground/language/CompletionProviderTests.scala
  modules/language-support/src/test/scala/playground/language/DiagnosticProviderTests.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
Due: Label core PRs, Label language-support PRs, Label lsp-kernel PRs

Better way to get source locations
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/main/scala/playground/smithyql/syntax.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/protocol4s/src/main/smithy/std.smithy
Due: Label core PRs, Label lsp-kernel PRs, Label protocol4s PRs

Better way to get source locations (#598)
  modules/core/src/main/scala/playground/OperationCompiler.scala
  modules/core/src/main/scala/playground/ServiceIndex.scala
  modules/core/src/main/scala/playground/smithyql/syntax.scala
  modules/core/src/test/scala/playground/smithyql/CompilationTests.scala
  modules/language-support/src/main/scala/playground/language/CompletionProvider.scala
  modules/language-support/src/test/scala/playground/language/CodeLensProviderTests.scala
  modules/language-support/src/test/scala/playground/language/CompletionProviderTests.scala
  modules/language-support/src/test/scala/playground/language/DiagnosticProviderTests.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/protocol4s/src/main/smithy/std.smithy
Due: Label core PRs, Label language-support PRs, Label lsp-kernel PRs, Label protocol4s PRs

Update jsoniter-scala-macros to 2.37.4
  build.sbt
Due: none

More chatty server start
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp/src/main/scala/playground/lsp/Main.scala
Due: Label lsp PRs, Label lsp-kernel PRs

update tests, don't print for dummy cfg
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
Due: Label lsp-kernel PRs

Flip things around just to offer better progress
  .scalafmt.conf
  modules/language-support/src/main/scala/playground/language/Feedback.scala
  modules/language-support/src/main/scala/playground/language/Progress.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageClient.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp/src/main/scala/playground/lsp/Main.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageClientAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
  rebuild.sh
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/yarn.lock
Due: Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs

Update LSP client
  rebuild.sh
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/yarn.lock
Due: none

update version
  vscode-extension/package.json
Due: none

revert changes in extension
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/yarn.lock
Due: none

revert that one too
  rebuild.sh
Due: none

Update jsoniter-scala-macros to 2.37.5
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.37.6
  build.sbt
Due: none

Update cats-mtl to 1.6.0
  build.sbt
Due: none

Update alloy-core to 0.3.32
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Rudimentary support for coursier credentials again
  modules/lsp-kernel/src/main/scala/playground/lsp/ModelLoader.scala
Due: Label lsp-kernel PRs

smol bump
  vscode-extension/package.json
  vscode-extension/yarn.lock
Due: none
