Repository kubukoz/smithy-playground: changes, and which Mergify rules are due for each by the changed paths.
All: Label ast PRs, Label core PRs, Label e2e PRs, Label examples PRs, Label formatter PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs, Label parser PRs, Label plugin-core PRs, Label plugin-sample PRs, Label protocol4s PRs, Label source PRs

Label ast PRs:
  label:
    add:
    - ast
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label e2e PRs:
  label:
    add:
    - e2e
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label formatter PRs:
  label:
    add:
    - formatter
    remove: []

Label language-support PRs:
  label:
    add:
    - language-support
    remove: []

Label lsp PRs:
  label:
    add:
    - lsp
    remove: []

Label lsp-kernel PRs:
  label:
    add:
    - lsp-kernel
    remove: []

Label parser PRs:
  label:
    add:
    - parser
    remove: []

Label plugin-core PRs:
  label:
    add:
    - plugin-core
    remove: []

Label plugin-sample PRs:
  label:
    add:
    - plugin-sample
    remove: []

Label protocol4s PRs:
  label:
    add:
    - protocol4s
    remove: []

Label source PRs:
  label:
    add:
    - source
    remove: []

bump node et al
  flake.lock
  flake.nix
Due: none

update WF
  .github/workflows/ci.yml
  build.sbt
Due: none

skipLibCheck
  vscode-extension/package.json
  vscode-extension/tsconfig.json
  vscode-extension/yarn.lock
Due: none

Update LSP client (#601)
  .github/workflows/ci.yml
  build.sbt
  flake.lock
  flake.nix
  rebuild.sh
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/tsconfig.json
  vscode-extension/yarn.lock
Due: none

fix packaging
  vscode-extension/package.json
  vscode-extension/yarn.lock
Due: none

no npes
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
Due: Label lsp PRs

maybe fix tests
  modules/lsp-kernel/src/test/scala/playground/lsp/EmptyConfigTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/TestClient.scala
Due: Label lsp-kernel PRs

Covert reports in test
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/TestClient.scala
Due: Label lsp-kernel PRs

More chatty server start, use progress API (#600)
  .scalafmt.conf
  modules/language-support/src/main/scala/playground/language/Feedback.scala
  modules/language-support/src/main/scala/playground/language/Progress.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageClient.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/EmptyConfigTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerIntegrationTestSharedServer.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/LanguageServerReloadIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/TestClient.scala
  modules/lsp/src/main/scala/playground/lsp/Main.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageClientAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
  modules/lsp/src/main/scala/playground/lsp/converters.scala
Due: Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs

WIP async server reload
  modules/lsp-kernel/src/main/scala/playground/lsp/BuildLoader.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/LanguageServer.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerBuilder.scala
  modules/lsp-kernel/src/main/scala/playground/lsp/ServerLoader.scala
  modules/lsp-kernel/src/test/scala/playground/lsp/harness/LanguageServerIntegrationTests.scala
Due: Label lsp-kernel PRs

Update alloy-core to 0.3.33
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update fs2-io to 3.12.2
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.37.8
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.37.9
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.37.10
  build.sbt
Due: none

Update scala3-library to 3.7.3
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.37.11
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.0
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.31
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.2
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.32
  build.sbt
Due: none

Update smithy-aws-traits to 1.62.0
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.3
  build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.15
  build.sbt
Due: none

Update scala3-library to 3.3.7
  build.sbt
Due: none

Update smithy-aws-traits to 1.63.0
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.33
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.4
  build.sbt
Due: none

Update scala3-library to 3.7.4
  build.sbt
Due: none

Update smithy-aws-traits to 1.64.0
  build.sbt
Due: none

Update alloy-core to 0.3.34
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update alloy-core to 0.3.35
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update jsoniter-scala-macros to 2.38.5
  build.sbt
Due: none

Update smithy-aws-traits to 1.65.0
  build.sbt
Due: none

Update cats-tagless-core to 0.16.4
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.6
  build.sbt
Due: none

Path conditions:
  Label ast PRs: any of: ^modules/ast/
  Label core PRs: any of: ^modules/core/
  Label e2e PRs: any of: ^modules/e2e/
  Label examples PRs: any of: ^modules/examples/
  Label formatter PRs: any of: ^modules/formatter/
  Label language-support PRs: any of: ^modules/language-support/
  Label lsp PRs: any of: ^modules/lsp/
  Label lsp-kernel PRs: any of: ^modules/lsp-kernel/
  Label parser PRs: any of: ^modules/parser/
  Label plugin-core PRs: any of: ^modules/plugin-core/
  Label plugin-sample PRs: any of: ^modules/plugin-sample/
  Label protocol4s PRs: any of: ^modules/protocol4s/
  Label source PRs: any of: ^modules/source/
