Repository kubukoz/smithy-playground: changes, and which Mergify rules are due for each by the changed paths.
All: Label ast PRs, Label core PRs, Label e2e PRs, Label examples PRs, Label formatter PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs, Label parser PRs, Label plugin-core PRs, Label plugin-sample PRs, Label protocol4s PRs, Label source PRs

Label ast PRs:
  label:
    add:
    - ast
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label e2e PRs:
  label:
    add:
    - e2e
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label formatter PRs:
  label:
    add:
    - formatter
    remove: []

Label language-support PRs:
  label:
    add:
    - language-support
    remove: []

Label lsp PRs:
  label:
    add:
    - lsp
    remove: []

Label lsp-kernel PRs:
  label:
    add:
    - lsp-kernel
    remove: []

Label parser PRs:
  label:
    add:
    - parser
    remove: []

Label plugin-core PRs:
  label:
    add:
    - plugin-core
    remove: []

Label plugin-sample PRs:
  label:
    add:
    - plugin-sample
    remove: []

Label protocol4s PRs:
  label:
    add:
    - protocol4s
    remove: []

Label source PRs:
  label:
    add:
    - source
    remove: []

Update jsoniter-scala-macros to 2.38.16
  build.sbt
Due: none

Update circe-core, circe-generic, ... to 0.14.16
  build.sbt
Due: none

Update smithy-aws-traits to 1.72.0
  build.sbt
Due: none

Update alloy-core to 0.3.39
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update jsoniter-scala-macros to 2.38.17
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.35
  build.sbt
Due: none

Update alloy-core to 0.3.40
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update http4s-ember-client, ... to 0.23.36
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.39.1
  build.sbt
Due: none

Sync langoustine adapter with main
  modules/e2e/src/test/scala/playground/e2e/IOHack.scala
  modules/lsp2/src/main/scala/playground/lsp2/LangoustineClientAdapter.scala
  modules/lsp2/src/main/scala/playground/lsp2/LangoustineServerAdapter.scala
  modules/lsp2/src/main/scala/playground/lsp2/Main.scala
Due: Label e2e PRs

Fix e2e test hanging CI
  build.sbt
  modules/e2e/src/test/scala/playground/e2e/E2ETests.scala
  modules/e2e/src/test/scala/playground/e2e/IOHack.scala
  modules/lsp2/src/main/scala/playground/lsp2/LangoustineClientAdapter.scala
  modules/lsp2/src/main/scala/playground/lsp2/LangoustineServerAdapter.scala
Due: Label e2e PRs

Update fs2-io to 3.14.0
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.37
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.41.0
  build.sbt
Due: none

Update interface to 1.0.29
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.41.2
  build.sbt
Due: none

Update smithy-aws-traits to 1.74.0
  build.sbt
Due: none

Update http4s-ember-client, ... to 0.23.38
  build.sbt
Due: none

Update interface to 1.0.30
  build.sbt
Due: none

Path conditions:
  Label ast PRs: any of: ^modules/ast/
  Label core PRs: any of: ^modules/core/
  Label e2e PRs: any of: ^modules/e2e/
  Label examples PRs: any of: ^modules/examples/
  Label formatter PRs: any of: ^modules/formatter/
  Label language-support PRs: any of: ^modules/language-support/
  Label lsp PRs: any of: ^modules/lsp/
  Label lsp-kernel PRs: any of: ^modules/lsp-kernel/
  Label parser PRs: any of: ^modules/parser/
  Label plugin-core PRs: any of: ^modules/plugin-core/
  Label plugin-sample PRs: any of: ^modules/plugin-sample/
  Label protocol4s PRs: any of: ^modules/protocol4s/
  Label source PRs: any of: ^modules/source/
