Repository kubukoz/smithy-playground: changes, and which Mergify rules are due for each by the changed paths.
All: Label ast PRs, Label core PRs, Label e2e PRs, Label examples PRs, Label formatter PRs, Label language-support PRs, Label lsp PRs, Label lsp-kernel PRs, Label parser PRs, Label plugin-core PRs, Label plugin-sample PRs, Label protocol4s PRs, Label source PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=scala-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Test (ubuntu-22.04, 3, temurin@11)
  actions:
    merge: {}
- name: Label ast PRs
  conditions:
  - files~=^modules/ast/
  actions:
    label:
      add:
      - ast
      remove: []
- name: Label core PRs
  conditions:
  - files~=^modules/core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label e2e PRs
  conditions:
  - files~=^modules/e2e/
  actions:
    label:
      add:
      - e2e
      remove: []
- name: Label examples PRs
  conditions:
  - files~=^modules/examples/
  actions:
    label:
      add:
      - examples
      remove: []
- name: Label formatter PRs
  conditions:
  - files~=^modules/formatter/
  actions:
    label:
      add:
      - formatter
      remove: []
- name: Label language-support PRs
  conditions:
  - files~=^modules/language-support/
  actions:
    label:
      add:
      - language-support
      remove: []
- name: Label lsp PRs
  conditions:
  - files~=^modules/lsp/
  actions:
    label:
      add:
      - lsp
      remove: []
- name: Label lsp-kernel PRs
  conditions:
  - files~=^modules/lsp-kernel/
  actions:
    label:
      add:
      - lsp-kernel
      remove: []
- name: Label parser PRs
  conditions:
  - files~=^modules/parser/
  actions:
    label:
      add:
      - parser
      remove: []
- name: Label plugin-core PRs
  conditions:
  - files~=^modules/plugin-core/
  actions:
    label:
      add:
      - plugin-core
      remove: []
- name: Label plugin-sample PRs
  conditions:
  - files~=^modules/plugin-sample/
  actions:
    label:
      add:
      - plugin-sample
      remove: []
- name: Label protocol4s PRs
  conditions:
  - files~=^modules/protocol4s/
  actions:
    label:
      add:
      - protocol4s
      remove: []
- name: Label source PRs
  conditions:
  - files~=^modules/source/
  actions:
    label:
      add:
      - source
      remove: []

Update jsoniter-scala-macros to 2.38.7
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.8
  build.sbt
Due: none

Update smithy-aws-traits to 1.66.0
  build.sbt
Due: none

Update alloy-core to 0.3.35
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update alloy-core to 0.3.36
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update scala3-library to 3.8.1
  build.sbt
Due: none

Update smithy-aws-traits to 1.67.0
  build.sbt
Due: none

Update org.eclipse.lsp4j to 1.0.0
  build.sbt
Due: none

update
  .mergify.yml
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.9
  build.sbt
Due: none

Update scala3-library to 3.8.2
  build.sbt
Due: none

Update smithy-aws-traits to 1.68.0
  build.sbt
Due: none

Update cats-tagless-core to 0.16.5
  build.sbt
Due: none

Update cats-effect to 3.7.0
  build.sbt
Due: none

Fix npe in initialize without folders
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
Due: Label lsp PRs

Update fs2-io to 3.13.0
  build.sbt
Due: none

fix another npe
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
Due: Label lsp PRs

Update alloy-core to 0.3.37
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update alloy-core to 0.3.38
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update scala3-library to 3.8.3
  build.sbt
Due: none

Fix npe in initialize without folders (#645)
  modules/lsp/src/main/scala/playground/lsp/PlaygroundLanguageServerAdapter.scala
Due: Label lsp PRs

Update http4s-ember-client, ... to 0.23.34
  build.sbt
Due: none

Update smithy-aws-traits to 1.69.0
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.10
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.11
  build.sbt
Due: none

Set dependency cooldown as a precaution against avoidable supply chain attacks
  .scala-steward.conf
Due: none

Set dependency cooldown as a precaution against avoidable supply chain attacks (#664)
  .scala-steward.conf
Due: none

Update nixpkgs
  flake.lock
  flake.nix
Due: none

Update jsoniter-scala-macros to 2.38.12
  build.sbt
Due: none

Update smithy-aws-traits to 1.71.0
  build.sbt
Due: none

Update alloy-core to 0.3.39
  build.sbt
  modules/lsp-kernel/src/test/resources/test-workspaces/default/smithy-build.json
  smithy-build.json
Due: Label lsp-kernel PRs

Update jsoniter-scala-macros to 2.38.14
  build.sbt
Due: none

Update scala3-library to 3.3.8
  build.sbt
Due: none

Update scala3-library to 3.8.4
  build.sbt
Due: none

Update cats-mtl to 1.7.0
  build.sbt
Due: none

Update jsoniter-scala-macros to 2.38.15
  build.sbt
Due: none
